body {
  background: #fff !important;
  font-family: 'IBM Plex Sans','IBM Plex Sans Condensed',sans-serif;
  font-size: 17px;
}
* {
    font-family: 'IBM Plex Sans','IBM Plex Sans Condensed',sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: 'IBM Plex Sans','IBM Plex Sans Condensed',sans-serif;
}
h1 {
  font-size: 2em;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.5em;
  }
}
ul li {
  list-style-image: url("/themes/custom/madrid/images/iu-triangulorojo-10x10.png");
}
.top-nav {
    background: #db0032;
}
.social-media {
    color: #fff;
}
.social-media a {
    color: #fff;
}
.social-media a:hover {
    color: #000;
}
.header {
  background: #fff;
}
.region-header {
  width: 90%;
}
.region-header .site-name {
  display: none;
}
.logo {
    height: auto;
    width: 8em;
}
.menu-base-theme li .active {
    color: #111;
}
.menu-base-theme li a {
    color: #111;
}
.menu-base-theme .active a {
    font-weight: 700;
    -webkit-box-shadow: inset 0 -10px 0 0 #db0032;
    -moz-box-shadow: inset 0 -10px 0 0 #db0032;
    box-shadow: inset 0 -10px 0 0 #db0032;
    transition: all .2s linear;
    background-color: transparent;
}
@media (max-width: 767px) {
  .region-primary-menu {
      background: rgb(239 176 176 / 80%);
  }
}
@media (min-width: 767px) {
  .menu-base-theme {
      margin-top: 0em;
  }
  .is-sticky .menu-base-theme {
      margin-top: 0em;
  }
}
.block-views {
    margin-bottom: 3em;
}
img {
    max-width: 100%;
    height: auto;
}
.block-views-blocksliderhome-block-1 {
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: auto;
 left: 50%;
}
#slider-home li .flex-caption {
    display: block;
    top: 30%;
    left: 5%;
    width: 40%;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
    position: absolute;
    z-index: 10;
}
#slider-home li .views-field-field-enlace {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 10%;
    line-height: .95em;
}
#slider-home li .views-field-field-enlace a {
  background: #db0032;
  cursor: pointer;
  color: #fff;
  border: 0;
  padding: 14px 30px;
  line-height: 100%;
  margin-right: 2px;
  display: inline-block;
  font-weight: 400;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#slider-home li .views-field-field-enlace a:hover {
  background:#e94a4a;
  color:#fff
}
.block-views-blocknoticias-destacadas-block-1 .views-row {
    width: 33%;
    float: left;
    padding: .4%;
}
.block-views-blocknoticias-destacadas-block-1 .views-row .views-field-title a {
    color: #fff;
    position: absolute;
    z-index: 2;
    font-size: 1.3em;
    padding: .5em;
    font-weight: bold;
    width: 33%;
    margin-top: 1em;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.block-views-blocknoticias-destacadas-block-1 .views-row:hover {
  opacity: .5;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
@media (max-width: 767px) {
  .block-views-blocknoticias-destacadas-block-1 .views-row {
    width: 100%;
  }
  .block-views-blocknoticias-destacadas-block-1 .views-row .views-field-title a {
    width: 100%;
  }
}
.block-views-blockactividades-destacadas-block-1 .views-row {
    width: 100%;
    clear: both;
}
.block-views-blockactividades-destacadas-block-1 .views-row .views-field {
  float:left;
}
.block-views-blockactividades-destacadas-block-1 .views-row .views-field-title {
  font-size: 2em;
  margin-left: .5em;
  z-index: 10;
}
.block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-direccion {
    width: 80%;
    margin-left: 1em;
    margin-top: 1em;
}
.block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-imagen {
    opacity: 0.05;
    display: block;
    position: absolute;
    margin-left: 7.5em;
    z-index: 0;
    margin-top: 2em;
    width: 20%;
}
.block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-imagen:hover {
  opacity: .5;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.block-views-blockactividades-destacadas-block-1 time.icon {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}
.block-views-blockactividades-destacadas-block-1 time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.block-views-blockactividades-destacadas-block-1 time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #db0032;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #db0032;
}
.block-views-blockactividades-destacadas-block-1 time.icon em {
  position: absolute;
  bottom: 0.3em;
  color: #db0032;
}
.block-views-blockactividades-destacadas-block-1 time.icon span {
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 1.13em;
  color: #2f2f2f;
}
time.icon:hover, time.icon:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}
@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
@media (min-width: 767px) {
  .block-views-blockactividades-destacadas-block-1 .views-row {
    width: 33%;
    float: left;
    clear:none;
  }
  .block-views-blockactividades-destacadas-block-1 .views-row .views-field-title {
    font-size: 1.4em;
  }
  .block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-direccion {
    width: 60%;
  }
}
@media (max-width: 766px) {
  .block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-imagen {
    width: 60%;
  }
  .block-views-blockactividades-destacadas-block-1 .views-row .views-field-field-direccion {
    width: 70%;
  }
}
.paragraph--type--image-text .field--type-image {
    margin-right: 1em;
    width: 25%;
    float: left;
}
.paragraph--type--text-image .field--name-field-text-demo {
    margin-right: 1em;
    width: 70%;
    float: left;
}
.paragraph--type--text-image .field--name-field-image {
    width: 25%;
    float: right;
}
.paragraph--type--images {
  width: 100%;
  margin: 0 auto;
}
.paragraph--type--images .field--name-field-media-image,
.paragraph--type--images .field--name-field-imagenes .field__item {
    width: 22%;
    float: left;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
}
.paragraph--type--bp-tabs .nav-tabs {
  border-bottom: 1px solid #ddd;
}
.paragraph--type--bp-tabs .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.paragraph--type--bp-tabs .nav-tabs  > li {
    float: left;
    margin-bottom: -1px;
}
.paragraph--type--bp-tabs .nav  > li {
    position: relative;
    display: block;
}
.paragraph--type--bp-tabs .nav-tabs>li>a.active, .paragraph--type--bp-tabs .nav-tabs>li>a:focus, .paragraph--type--bp-tabs .nav-tabs>li>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.paragraph--type--bp-tabs .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.paragraph--type--bp-tabs .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
article {
    margin: 0 0 1em 0;
}
article .field--type-address .field__label::before {
    background-image: url('https://unpkg.com/leaflet@1.3.3/dist/images/marker-icon.png');
    background-size: 1em 1.7em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.5em;
    height: 1.7em;
    position:relative;
    top:.5em;
    content:"";
}
article .field--type-address .field__label {
  font-weight: bold;
}
article .field--type-address .field__item {
  margin-left: 1.5em;
  float: left;
}
article .node__links {
  float: right;
}
article .field--type-datetime {
  font-weight: bold;
}
article .field--type-datetime .field__label {
    float: left;
    margin-right: .7em;
}
.node--view-mode-full .field--type-text-with-summary {
  clear:both;
}
.btn, .node-readmore a, .flexslider .more-link, input[type="submit"] {
    background: #db0032;
}
article .field--type-image {
  float: left;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) {
  .node--view-mode-full .field--name-field-direccion {
    margin-top: 4em;
  }
}
.region-search label {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
.region-search form {
    display: table;
    width: 100%;
}
.region-search form .form-item, .region-search .form-actions {
    display: table-cell;
    vertical-align: top;
}
.region-search form input {
    width: 100%;
    height: 30px;
}
.region-search .form-actions {
    width: 30px;
}
.region-search input.form-submit {
    background: url(../images/search.png) no-repeat center #c52222;
    font-size: 0;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    vertical-align: top;
}
.search-page-options label {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
.search-page-options form {
    display: table;
    width: 100%;
}
.search-page-options form .form-item, .search-page-options .form-actions {
    display: table-cell;
    vertical-align: top;
}
.search-page-options .form-text {
  width: 95%;
}
.pager ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    Margin-top: 2em;
}
.pager ul li {display: inline;}
.pager ul li a {
    border-radius: 5px;
    transition: background-color .3s;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pager ul li.is-active a {
    border-radius: 5px;
    background-color: #db0032;
    color: white;
}
.pager ul li:hover:not(.is-active) a {
  background-color: #ddd;
}
@media only screen and (max-width: 768px) {
  .region-sidebar-first {
    display: none;
  }
}
.search-view .views-row {
    clear: both;
    margin-bottom: .5em;
    height: auto;
    min-height: 145px;
    padding: .5em;
}
.search-view .views-row:nth-child(even) {
  background: #fbf2f2;
}
.search-view .views-field-title {
  font-size: 1.5em;
  margin-bottom: .5em;
}
.search-view img {
  float: left;
  margin-right: .5em;
}
.is-sticky .header .row {
  height: 60px;
}
@media only screen and (max-width: 600px) {
  .header .row .logo img {
    height: 60px;
  }
  .is-sticky .header .row .logo img {
    height: 30px;
  }
}
@media (min-width: 767px) {
  .region-search {
    width: 20%;
  }
  .region-primary-menu {
    max-width: 80%;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .region-search .form-item-cadena {
    display: none;
  }
  .region-search {
    width: 8%;
  }
  .region-primary-menu {
    max-width: 90%;
  }
  .menu-base-theme li a {
    font-size: .9em;
  }
}
@media only screen and (max-width: 767px) {
  .is-sticky .region-search .form-item-cadena {
    display: none;
  }
  .is-sticky .region-search input.form-submit {
    width: 60px;
    float: left;
    position: absolute;
    top: -75px;
    right: 70px;
    height: 60px;
  }
  #slider-home li .views-field-field-enlace {
    position: relative;
    padding: .5em;
    left: 59%;
  }
  #slider-home li .flex-caption {
    top: .4em;
    width: 90%;
  }
}
.is-sticky .header .row .logo img {
  height: 50px;
}
.block-facets-summary {
  float: left;
}
.block-facets-summary ul {
  list-style: none;
}
.block-facets-summary ul li {
    list-style-image: none;
    list-style: none;
    float: left;
    margin-right: 1em;
}
.block-facets-summary ul li .source-summary-count {

}
.block-facets-summary ul li.facet-summary-item--clear {

}
.block-facets-summary ul li.facet-summary-item--facet {
    position: relative;
    background-color: #fff;
    text-transform: capitalize;
    color: #3e4152;
    cursor: default;
    font-size: 14px;
    padding: 5px 26px 5px 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border-radius: 20px;
    border: 1px solid #d4d5d9;
    margin: 2px;
    margin-bottom: 5px;
    margin-top: -5px;
}
.block-facets-summary ul li.facet-summary-item--facet .facet-item__status {
  visibility: hidden;
}
.block-facets-summary ul li.facet-summary-item--facet .facet-item__status:after {
    content: ' ';
    background: url(../images/equis.png) no-repeat center;
    visibility: visible;
    width: 12px;
    height: 12px;
    display: inline-block;
    transform: scale(.6);
}
